#header-top1 {
    font-size: 12px;
    color: gray;
}

#header-top2 {
    font-size: 12px;
    color: gray;
}

#header-top3 {
    font-size: 12px;
    color: gray;
}

nav div ul li .active {
    border-bottom: 3px solid rgb(70, 188, 243);
}

nav div ul li .nav-link:hover {
    border-bottom: 3px solid rgb(70, 188, 243);
}

.bgImage {
    position: relative;
    background-image: url(../images/banner/banner_2.png);
    background-repeat: no-repeat;
    max-width: 100%;
    height: 80vh;
    color: white;
    background-size: cover;
    background-position: 50% 50%;
}

.bgImage::before {
    content: "";
    position: absolute;
    display: block;
    background-color: rgb(8, 19, 68);
    top: 0;
    left: 0;
    opacity: 0.4;
    width: 100%;
    height: 100%;
}

#jumbotron-background {
    position: relative;
    background-color: transparent;
    padding: 10% 1.5%;
}

.nav-headings {
    font-weight: 100px;
}

#banner-button {
    border-radius: 200px;
    padding: 5px 20px;
    font-size: 16px;
    margin-bottom: 2%;

}

#navbar-button {
    border-radius: 200px;
    margin-left: 15%;
    padding: 7px 20px;
    font-size: 14px;
}

#nav-button {
    border: 2px solid white;
}

/* 
.jumobotron{
    background-color:black;
    margin: 0 auto;
} */

.nav-link {
    color: white;
}

.border-bottom {
    border-bottom: 1px solid white;
}

.adjust-container-width{
    margin: auto 13%;
}
.display-4{
    margin-top: 8%;
    margin-bottom: 6%;
}
 .card-box-design{
  margin: 10px 0px;
} 
#about-button{
    border-radius: 2000px;
    padding: 0 10px;

}
.about-us{
    margin-top: 7%;
    margin-bottom: 7%;
}
.img-rounded{
    border-radius: 3%;
}

.analysis-bg-image{
    background: linear-gradient(rgba(8, 19, 68,0.6), rgba(8, 19, 68,0.6)), url(../images/about/counter.png);
    background-repeat: no-repeat;
    max-width: 100%;
    height: 60vh;
    background-size: cover;
}
.analysis{
    padding-top: 10%;
}
#btn-setting{
    border-radius: 200px;
    margin-top: 6%;
    margin-bottom: 4%;
}
.bg-testimonial{
    background: linear-gradient(rgba(8, 19, 68, 0.7), rgba(8, 19, 68, 0.7)),url(../images/banner/testmonial.png);
    background-repeat: no-repeat;
    max-width: 100%;
    margin: 3%;
    color: white;
    height: 63vh;
    background-size: cover;
}

.quote-right-icon{
    padding-top: 16%;
    padding-bottom: 4%;
}
.testimonial-container{
        margin: auto 24%;
}
.padding-para-testimonial{
    padding-bottom: 2%;
}
.author-name-testimonial{
    padding-top: 2%;
}